/* Header */
.nav-list {
    border-bottom: 2px solid gainsboro;
    border-radius: 9px;
    display: flex;
    font-family: Raleway;
    font-weight: 500;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px;
 
}

#nav-box {
    border: 0;
    grid-template-columns: 1fr;
    height: 800px;
    margin: 0;
    width: auto;
}

#nav-img {
    height: 100%;
    margin: -10px -5px 0 -5px;
    padding: 0;
    width: 101%;
}

a{
    color: black;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Montserrat;
    font-size: 2em;
    position: relative;
    text-shadow: -1px 1px 1px #0000003c, 
    -1px 1px 2px #fefefe,
    1px -1px 0 #edefdc,
    -1px -1px 0 #df260e;
    top: -500px;
}

/* Sub */

.sub-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
}

#easter img, #fun-app img {
    max-height: 400px;
    max-width: 400px;
}

#top-cocktails img {
    max-height: 391px;
    max-width: 400px;
}

li {
    list-style: none;
    /* justify-content: center; */
}

/* Footer */
footer {
    background-color: rgb(26, 81, 92);
    color: #ffff;
    margin: 0 -10px 0 0;
}
footer li a{
    color: white;
}

@media (min-width: 1000) and (max-width: 1350){
    /* Nav */
    h1 {
        font-family: Montserrat;
        position: relative ;
        top: -500px;
    }

    /* Sub */

    .sub-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: auto;
    }

    #easter, #fun-app, #top-cocktails {
        /* display: grid; */
        grid-column: auto;
    }

    #easter img, #fun-app img {
        list-style: none;
        max-height: 400px;
        max-width: 400px;
    }

    #top-cocktails img {
        list-style: none;
        max-height: 391px;
        max-width: 400px;
    }


    li {
        list-style: none;
    }

/* Footer */
    footer {
        background: red;
        color: white;
    }
    footer li a{
        color: white;
    }
}