/* Header */
.nav-list {
    border-bottom: 2px solid gainsboro;
    border-radius: 10px;
    display: flex;
    font-family: Raleway;
    font-weight: 500;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
 
}
/*
How Do I remove the white spaces around an image?
*/
#nav-box {
    display: grid;
    border: 0;
    grid-template-columns: 1fr;
    margin: 0;
}

#nav-img {

    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
}

a{
    color: black;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Montserrat;
    position: relative ;
    top: -500px;
    text-shadow: -1px 1px 1px #0000003c, 
    -1px 1px 2px #fefefe,
    1px -1px 0 #edefdc,
    -1px -1px 0 #df260e;
}
/* Main */


/* Sub */
.sub-container {
    size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#easter img, #fun-app img {
    max-width: 400px;
    max-height: 400px;
    list-style: none;
}

#top-cocktails img {
    max-width: 400px;
    max-height: 391px;
    list-style: none;
}

li {
    list-style: none;
    /* justify-content: center; */
}
@media screen (max-width: 1000px){
    
}