/* Header */
.nav-list {
    border-bottom: 2px solid gainsboro;
    border-radius: 9px;
    display: flex;
    font-family: Raleway;
    font-weight: 500;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px;
 
}

#nav-box {
    border: 0;
    grid-template-columns: 1fr;
    height: 800px;
    margin: 0;
    width: auto;
}

#nav-img {
    height: 100%;
    margin: -10px -5px 0 -5px;
    padding: 0;
    width: 101%;
}

a{
    color: black;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}

#nav-heading {
    font-family: Montserrat;
    font-size: 2em;
    position: relative;
    text-shadow: -1px 1px 1px #0000003c, 
    -1px 1px 2px #fefefe,
    1px -1px 0 #edefdc,
    -1px -1px 0 #df260e;
    top: -500px;
}

/* Main */

#easter, #fun-app, #top-cocktails {
    justify-items:  
    width: auto;
}
    
#easter a > img, 
#fun-app a > img, 
#top-cocktails a > img, 
#chesapeake {
    height: 400px;
    margin: 10px;
    width: 400px;
}

/* .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto; 
}*/
#main-img {
    background-color: #e2e2e2;
    /* margin-left: 50px; */
    margin-top: 50px;
    margin: 50px 0 10px 400px;
    padding: 10px;
    width: 50%; 
}


.main-text,
#sub-heading {
    background-color: rgb(160, 235, 235);
    color: black;
    text-align: center; 
    margin: 0 0 0 0 
}
.section-text {
    text-align: center;
}
.sub-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%
}

li {
    list-style: none;
}

/* Footer */
footer {

    background-color: rgb(26, 81, 92);
    color: #ffff;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 -10px 0 0;
    text-align: center;
}
  
footer h4 {
    border-bottom: 1px solid #de6b48;
}
  
footer a, footer ul {
    color: #de6b48;
}
  
footer a:hover {
    color: #ececec;
}

@media screen and (700 <= width){
    /* Nav */
    h1 {
        font-family: Montserrat;
        position: relative ;
        top: -500px;
    }
    
    #nav-box {
        border: 0;
        grid-template-columns: 1fr;
        height: 400px;
        margin: 0;
        width: auto;
    }
    
    #nav-img {
        height: 200px;
        margin: -10px -5px 0 -5px;
        padding: 0;
        width: 101%;
    }

    /* Sub */
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .sub-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #easter img, #fun-app img {
        list-style: none;
        height: 200px;
        width: 200px;
    }
    #main-img {
        background-color: #e2e2e2;
        /* margin-left: 50px; */
        margin-top: 50px;
        margin: 50px 0 10px 50px;
        padding: 20px;
        width: 100%; 
    }

    #top-cocktails img {
        list-style: none;
        height: 191px;
        width: 200px;
    }

}